<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Driven by Dignity. Designed for Impact.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2000-2010</h4>
                                    <h4 class="subheading">Learning the Landscape Through Lived Experience</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Datta Advocate was born from survival. Our founder navigated housing instability, food insecurity, and community barriers. She experienced how hard it is for families to access support when the systems meant to help are fragmented and unwelcoming. These years shaped a deep understanding of what it takes to survive and revealed how much emotional labor goes unseen when families are forced to fight for basic dignity.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015-2019</h4>
                                    <h4 class="subheading">Advocacy finds it's voice</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As a Special Needs Liaison and PTA leader, our founder created inclusive programming that reached every part of the school. She coordinated Walk In My Shoes events, ran inclusive playdates, and designed art projects that helped teachers talk about disability and difference. She supported families through emotionally charged IEP and 504 processes, maintained a resource hub, and responded to outreach from parents seeking guidance. These efforts laid the foundation for trauma informed systems that reflect the real needs of students and families.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2020-2021</h4>
                                    <h4 class="subheading">Building Systems That See Us</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Through her work Virginia PTA, our founder hosted a DIVE webinar series (Diversity and Inclusion Via Education), our founder helped shift public conversations. She facilitated respectful dialogue about race, disability, and belonging in school communities that often resisted those truths. She brought lived experience into policy spaces, trained families to advocate for their children, and modeled emotionally intelligent communication rooted in care and accountability.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2022 to 2023</h4>
                                    <h4 class="subheading">Deepening Systems Knowledge and Coalition Building</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Datta Advocate began with survival. Our founder navigated housing instability, food insecurity, and the special education system as a parent and advocate. Over time, she supported families through IEP and 504 processes, and helped shape policy conversations at the local and state level. She deepened her understanding of school discipline and disability rights, studying how exclusionary practices contribute to the pipeline from preschool to prison. Today, Datta Advocate works at the intersection of education and housing justice, supporting families facing eviction, homelessness, and systemic barriers.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                               <br><h5>Every family  
                                    <br>deserves 
                                    <br>dignity
                                    <br>& respect</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>