<!-- Privacy -->
<aside class="privacy">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Datta Advocates Privacy Policy</h2>
                <h3 class="section-subheading text-muted">SMS Section</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    At Datta Advocates, we respect your privacy. We will only use information you provide through text
                    messaging to
                    transmit your mobile messages and respond to your customer service inquiries.
                </p>

                <p>
                    No Mobile Information Sharing:
                    We will not share, sell, rent, or lease your mobile phone number, text content, or any associated
                    personal data with
                    any third parties or affiliates for marketing or promotional purposes under any circumstances.
                </p>

                <p>
                    Data sharing may only occur with trusted service providers (such as Microsoft Teams/telecom
                    carriers)
                    strictly
                    required to deliver the messaging service, or if required by law.
                </p>

                <p>
                    Terms & Conditions: For details please see our <a
                        href="https://dattaadvocate.com/t&c">Terms & Conditions</a>.
                </p>
            </div>
        </div>
    </div>
</aside>