<!-- Terms & Conditions -->
<aside class="termscondition">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Datta Advocates Terms & Conditions</h2>
                <h3 class="section-subheading text-muted">SMS Section</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Program Description: Datta Advocates offers customer communication and support text messaging for
                    existing clients.
                </p>

                <p>
                    Opt-In: Clients opt-in by sharing their mobile number during onboarding, visiting our website, or
                    initiating a text message to our business phone number.
                </p>

                <p>
                    Opt-Out: You can cancel the SMS service at any time. Simply text "STOP" to the number you received
                    the message from. Upon sending "STOP", we will send you an SMS reply to confirm that you have been
                    unsubscribed. After this, you will no longer receive SMS messages from us.
                </p>

                <p>
                    Help: If you are experiencing issues with the messaging program, reply with "HELP" for assistance,
                    or call us directly at 703-202-7605.
                </p>

                <p>
                    Rates: Message and data rates may apply for any messages sent to you from us and to us from you.
                    Message frequency varies based on client interaction.
                </p>
                <p>
                    Carrier Liability: Carriers (e.g., AT&T, Verizon, T-Mobile) are not liable for delayed or
                    undelivered messages.
                </p>

                <p>
                    Data Privacy: For details on how we handle your data, please see our <a
                        href="https://dattaadvocate.com/privacy">Privacy Policy</a>.
                </p>
            </div>
        </div>
    </div>
</aside>